.stock-inventory {
  &__price {
    font-weight: 700;
    text-align: right;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    margin: 20px 0 0;
    padding: 20px 0 0;
    button {
      margin-left: 10px;
    }
  }
}
