* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: 300 15px/1.4 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  color: #545e6f;
}

img {
  vertical-align: bottom;
}
img a {
  border: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
button {
  outline: 0;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password] {
  border: none;
  background: #fff;
  font-size: 13px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  border: 1px solid #ccc;
}
label {
  display: block;
}
button {
  cursor: pointer;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
  background: #b598e4;
}
p {
  margin: 5px 0;
}
h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
form {
  flex: 1 0;
  padding: 0 40px;
}
input[type="text"] {
  display: block;
  border: none;
  background: #ffffff;
  font-size: 15px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  border: 1px solid #eeeeee;
  margin-top: 10px;
}
label {
  margin-bottom: 20px;
}
