:host {
  display: inline-block;
  flex: 1 0;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex: 1 0;
  }
}

nav {
  flex: 0 0 15%;
  padding: 20px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 16px;
    border-left: 3px solid transparent;
    &.active {
      color: rgba(0, 0, 0, 0.8);
      border-left-color: #9f72e6;
      background: rgba(0, 0, 0, 0.03);
    }
  }
}

header {
  background: #2d2d35;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
